root { 
	display: block;
}

.root {
	-fx-background-image: url("image.png");
	-fx-background-size: stretch;
}

.text-area {
	-fx-background-color: linear-gradient(from 25% 25% to 100% 100%, black, #006400);
	-fx-text-fill: white;
}

.content {
	-fx-background-color: transparent;
}

.viewport{
	-fx-background-color: transparent; 
}

.text {
	-fx-font-size: 12px;
	-fx-font-family: "Arial Narrow";
	-fx-fill: #000000;
	-fx-alignment: center;
}

#Morpheus {
	-fx-font-size: 32px;
	-fx-fill: red;
}
#idAndUser {
	-fx-font-size: 32px;
	-fx-fill: red;
}

#welcometext {
	-fx-font-size: 32px;
	-fx-fill: red;
}

.button {
	-fx-text-fill: black;
	-fx-font-family: "Arial Narrow";
	-fx-font-weight: bold;
	-fx-background-color:
		linear-gradient(#f0ff35, #a9ff00),
		radial-gradient(center 50% -40%, radius 200%, #b8ee36 45%, #80c800 50%);
	-fx-background-radius: 6, 5;
	-fx-background-insets: 0, 1;
	-fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
}

.button:hover{
	-fx-background-color: linear-gradient(#f0ff00, #a9ff00);
}
.button:pressed{
	-fx-background-color: linear-gradient(#f0fff9, #a9ff00);
}

#exit {
	-fx-background-color:
		linear-gradient(#0000ff, #8080ff),
		radial-gradient(center 50% -40%, radius 200%, #0000ff 45%, #8080ff 50%);
}
#exit:hover{
	-fx-background-color: linear-gradient(#80ff80, #80ff80);
}

#exit:pressed{
	-fx-background-color: linear-gradient(#80ff80, #00ff00);
}

#Lista {
	-fx-text-fill: black;
	-fx-font-family: "Arial Narrow";
	-fx-font-weight: bold;
	-fx-background-color:
		linear-gradient(#f0ff35, #a9ff00),
		radial-gradient(center 50% -40%, radius 200%, #b8ee36 45%, #80c800 50%);
	-fx-background-radius: 6, 5;
	-fx-background-insets: 0, 1;
	-fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
}

#Lista:hover{
	-fx-background-color: linear-gradient(#f0ff00, #a9ff00);
}
#Lista:pressed{
	-fx-background-color: linear-gradient(#f0fff9, #a9ff00);
}
